{
  "env": {
    "test": {
      "presets": [
        "env",
        "flow",
        "stage-3"
      ]
    },
    "development": {
      "presets": [
        ["env", { "modules": false }],
        "flow",
        "stage-3"
      ]
    }
  }
}