{
  "env": {
    "test": {
      "plugins": [ "lodash" ],
      "presets": [
        "env",
        "flow",
        "stage-3"
      ]
    },
    "development": {
      "plugins": [ "lodash", "external-helpers" ],
      "presets": [
        ["env", { "modules": false }],
        "flow",
        "stage-3"
      ]
    }
  }
}
